@charset "utf-8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"华文行楷";
}

.container{
	width:100%;
	height:100vh;
	overflow-y:scroll;
	scroll-snap-type:y mandatory;
}
.wrapper{
	width: 900px;
	background: transparent;
	border: 2px solid rgba(255,255,255,.7);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0,0,0,.9);
	color: #FFF;
	border-radius: 10px;
	float: left;
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
}
.slides{
	width:100%;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	gap:50px;
	color:#fff;
	scroll-snap-align:start;
}
.slides img{
	width:350px;
}
.slides h2{
	font-size:60px;
	font-weight:600;
	max-width:650px;
}
.left{
	float:left;
	margin-right:20px;
}
.slides h3{
	font-family: "宋体";
	font-size: 25px;
	line-height: 60px;
	color:#fff;
}
.slides1{
	background: url(img/culture/%E5%B2%AD%E5%8D%97%E5%8F%A4%E9%9F%B5.jpg);
	background-size:cover;
}
.slides2{
	background: url(img/culture/%E8%A5%BF%E6%B1%9F%E6%98%8E%E7%8F%A0.jpg);
	background-size:cover;
}
.slides3{
	background: url(img/culture/%E7%B2%A4%E5%89%A7%E4%B9%8B%E4%B9%A1.jpg);
	background-size:cover;
}/* CSS Document */

